<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="icono-lineas">
      <ion-button (click)="backHome()" color="dark">
        <ion-icon slot="icon-only" name="chevron-back-outline" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content mode="md">

  <ion-card>
    <img src="assets/icon/img/doctos3.jpg" />
    <ion-card-header>
      <ion-card-title class="title-first-text">Quienes somos</ion-card-title>
      <ion-card-subtitle class="second-title-text">Policlínico Próceres</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     <p class="parrafo-vision-text">
      Somos, un equipo de profesionales conformado por médicos especialistas, enfocado en el servicio y trato humanizado al paciente,
      Poner los servicios de salud para prevención de riesgos laborales en las Empresas.
     </p>

    </ion-card-content>
  </ion-card>

  <ion-card mode="md">
  
    <ion-card-header>
      <ion-card-title class="title-first-text">Misión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p class="parrafo-vision-text">
     Nuestros clientes reciban una evaluación médica, tratamiento y atención de alta calidad, apoyando en la prevención de riesgos,
     realizando evaluaciones médicas de calidad y poniendo todos nuestros servicios
     </p>

    </ion-card-content>
  </ion-card>

  <ion-card mode="md">
  
    <ion-card-header>
      <ion-card-title class="title-first-text">Visión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
     <p class="parrafo-vision-text">
      Ser reconocidos como un Centro Médico Ocupacional a nivel de la Región de Lima, con la disposición de profesionales con experiencia y excelencia en los servicios de salud, 
      contamos con tecnología médica e informática y constante innovación en nuestros servicios.
     </p>

    </ion-card-content>
  </ion-card>

</ion-content>