
.parrafo-vision-text {
    position: relative;
    color: black;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
}

.title-first-text {
    position: relative;
    color: black;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-decoration: underline;
}

.second-title-text {
    position: relative;
    color: black;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    
}