


.tamano-img-slider {
    height: 100%;
    width: 100%;
}

.title-text-medi {
    color: black;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
}
.title-text-small {
    color: black;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

ion-card-content {
    p {
        color: black;
        font-weight: bold;
        font-family: "Roboto", sans-serif;
        font-size: 15px;
        margin: 5px;
    }
}