
<ion-content class="ion-padding">

  <div class="center-text-photo-name">
  <div class="tamano-image">
    <h4>Logo</h4>
    <!-- <img src="/assets/icon/img/logoLabora.pdf" alt=""> -->
  </div>

</div>

  <form [formGroup]="loginForm">
    <ion-grid>
      <ion-row color="primary" class="ion-justify-content-center">


        <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
          <div class="ion-padding mover-inputs">
            <ion-item lines="full">
              <ion-label position="floating">Correo</ion-label>
              <ion-icon slot="start" name="person-outline"></ion-icon>
              <ion-input name="email" type="email" formControlName="email" ></ion-input>
            </ion-item>

            <!-- password con icono de hide and show -->
            <ion-item lines="full">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
                 <ion-input name="password" #passwordEyeLogin  [type]="passwordTypeInput" formControlName="password" clearOnEdit="false"></ion-input>
              <button item-end class="btn_eye_icon" (click)="togglePasswordMode()">
                <ion-icon [name]="(passwordTypeInput === 'text') ? 'eye-off-outline' : 'eye-outline'"></ion-icon>
              </button>
           
            </ion-item>

            <ion-text class="ion-float-end" color="medium" (click)="forgotPassword()">
              <h6 class="ion-no-margin ion-text-end" class="small">¿Se te olvidó tu contraseña?</h6>
            </ion-text>
            <div class="ion-padding mover-button">
              <ion-button mode="ios" size="large" type="submit" (click)="login()" [disabled]="!loginForm.invalid" expand="block">Login</ion-button>
            </div>
            <ion-text class="ion-float-end" color="medium" (click)="registrar()">
              <h6 class="ion-no-margin ion-text-end" class="register-text">¿Create una cuenta con nosotros ya?</h6>
            </ion-text>
          </div>
        </ion-col>
     </ion-row>
     <ion-col>
    </ion-col>

    </ion-grid>
  </form>
</ion-content>
