<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons class="icono-lineas">
      <ion-button (click)="backHome()" color="dark">
        <ion-icon slot="icon-only" name="chevron-back-outline" mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="md">
    <h1>aqui va una imagen</h1>
  </ion-card>
  <ion-card mode="md">
    <div>
      <ion-icon slot="start" name="pin-outline"></ion-icon>
      <label class="addres-text"> Av Próceres de la Independencia 2024, San Juan de Lurigancho</label>

    </div>
    
  </ion-card>
</ion-content>