<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="div-imagen-fondo">


      <img src="assets/icon/img/doctors2.jpg" class="img-tamano">


      <ion-buttons class="icono-lineas">
        <ion-button (click)="backHome()" color="dark">
          <ion-icon slot="icon-only" name="chevron-back-outline" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card class="tamano-card-content">





    <div class="card-avatar-phone">

      <ion-item lines="none">
        <ion-avatar slot="start">
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" />
        </ion-avatar>

        <label class="name-doctor"> Dr.caro,&nbsp; Dr.Izquierdo</label>
        <div class="move-text">
          <label> Medicina General - &nbsp;Policlínico Próceres</label>
        </div>
      </ion-item>



      <div class="move-phone">
        <ion-buttons class="icono-lineas">
          <ion-button>
            <ion-icon slot="icon-only" name="call-outline" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>

      </div>


    </div>


    <div class="container">

      <p class="text-sobre-doctor">Sobre el Doctor</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore, molestllo repellat laudantium distinctio
        officiis laborum.repellat laudantium distinctio officiis laborum</p>

      <p class="text-sobre-doctor">
        Agendar cita
      </p>

      <ion-card class="color-tamano-card-citas" *ngFor="let item of dates">
        <ion-grid>
          <ion-row>
            <ion-col size="3" size-sm="3">
              <div class="border-date">
                <label class="number-date">{{ item.day }}</label>
                <p class="number-date"> {{item.mouth}} </p>
              </div>
            </ion-col>
            <ion-col>
              <label class="text-consulta">Consulta</label>
              <p class="week-day-weekend">{{item.week}} - {{item.early}} - &nbsp;{{item.night}}</p>
            </ion-col>

          </ion-row>
        </ion-grid>
      </ion-card>

    </div>

  </ion-card>

</ion-content>