
.text-menu-list {
  position: relative;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.title-text-menu {
  position: absolute;
  left: 10px;
  color: black;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.icono-move {
  position: relative;
  .tamano-icono {
      font-size: 30px;
  }
  .text-redes {
   color: black;
   font-weight: bold;
   font-family: "Roboto", sans-serif;
  }
}
