
<ion-header class="ion-no-border">
  <ion-toolbar>
    
      <ion-buttons class="icono-lineas">
        <ion-button (click)="backLogin()" color="dark">
          <ion-icon slot="icon-only" name="chevron-back-outline" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

     
  </ion-toolbar>
</ion-header>


<ion-content>


  <ion-content class="ion-padding">

    <div class="center-text-photo-name">
    <div class="tamano-image">
      <h4>Logo</h4>
      <!-- <img src="/assets/icon/img/logoLabora.pdf" alt=""> -->
    </div>
  
  </div>
  
    <form [formGroup]="registerForm">
      <ion-grid>
        <ion-row color="primary" class="ion-justify-content-center">
  
  
          <ion-col class="ion-align-self-center" size-md="6" size-lg="5" size-xs="12">
            <div class="ion-padding mover-inputs">
              <ion-item lines="full">
                <ion-label position="floating">Nombre</ion-label>
                <ion-input name="firstName" type="text" formControlName="firstName" ></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">Apellido</ion-label>
                <ion-input name="lastName" type="text" formControlName="lastName" ></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">DNI</ion-label>
                <ion-input name="dni" type="number" formControlName="dni" ></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">Correo</ion-label>
                <ion-input name="email" formControlName="email" ></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">Celular</ion-label>
                <ion-input name="phoneNumber" type="number" formControlName="phoneNumber" ></ion-input>
              </ion-item>

              <ion-item lines="full">
                <ion-label position="floating">Contraseña</ion-label>
                <ion-input name="password" type="password" formControlName="password"></ion-input>
              </ion-item>
              <ion-item lines="full">
                <ion-label position="floating">Confirma contraseña</ion-label>
                <ion-input name="conFirPass" type="password" formControlName="conFirPass"></ion-input>
              </ion-item>
             
              <div class="ion-padding mover-button">
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <ion-button mode="ios" size="large" fill="outline" (click)="cancelarForm()">Cancelar</ion-button>

                    </ion-col>
                    <ion-col>

                      <ion-button mode="ios" size="large" type="submit" [disabled]="registerForm.invalid">Registrar</ion-button>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
             
            </div>
          </ion-col>
       </ion-row>
       <ion-col>
      </ion-col>
       
      </ion-grid>
    </form>
  </ion-content>

</ion-content>